<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Really cool stuff will eventually go here!</p>
  </div>
    
    <%= source_helper("alert alert-info blog_sidebar-source")%>

  <div class = "sidebar-module">
    <h4>Topics</h4>
      <% @set_sidebar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled blog-elswhere-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="https://spacecenter.alpineschools.org/"><%= fa_icon "space-shuttle" %></a></li>
    </ol>
  </div>
</div>