<div class = 'app-card-container'>
  <div class = 'card'>
    <div>
      <h1>About me</h1>
  
        <br>
        
        <div class = 'row'>
          <div class = 'col-md-4'>
            <%= image_tag "captain_moroni_wallpaper", height: 400, alt: "Profile Image", class: 'profile-image'%>
          </div>
          <div class = 'col-md-8'>
            <p>I'll put this here for now as my portfolio is still in development.</p>
          </div>
        </div>
    </div>
  </div>
</div>


